body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #b1e0f3; /*cor base */
}

/* Botões */
.button-container {
    margin-bottom: 20px;
}

.button-container a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    background-color: #ffb6c1; /* botao cadatrar */
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #e4178f; /* ao passar o mause no botao */
}


/* Tabelas */
table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #e7e8ec;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    border: 1px solid #a7a1a1;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: black;
}

/* Fundo pastel para os cabeçalhos das tabelas */
th {
    background-color: #8bdee9; /* Azul pastel */
}

/*cadastor/

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
    background-color: #68c9c9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

/* Lista de tarefas */
ul#listaTarefas {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul#listaTarefas li {
    background-color: #60bbbb;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}




/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    color: #000000;
}


/*diisciplina/
/* Formulário */
/* Formulário */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #68c9c9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    background-color: #60bbbb;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}